{{ define "main" }} {{ partial "header.html" (dict "current" "blog" "context" .)
}}

<div class="post">
    <div>
        <div class="title">
            <h1>{{ .Title }}</h1>
            <p class="meta">{{ .Date.Format "02 Jan 2006" }}</p>
        </div>

        {{ .Content }}
    </div>

    <div class="recents">
        <div class="logo-container">
            <canvas id="logo-canvas"></canvas>
        </div>

        <div class="title">
            <h1>Recent Blog Posts</h1>
        </div>

        <ul class="posts">
            {{ range first 10 (where site.RegularPages "Section" "posts") }}
            <li>
                <span>{{ .Date.Format "02 Jan 2006" }}</span>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>

{{ end }}
