{{ define "main" }}

{{ partial "header.html" (dict "current" "home" "context" .) }}

<div id="home">

  <div class="row clearfix">

    <div class="column two-thirds">

      <div class="row clearfix">

        <div class="title">
          <h1> Who am I? </h1>
        </div>

        <p>Here's a little tid-bit about me.</p>

        <p>I'm a person that cannot sit idly by unless I am learning or consuming something that has been made with a lot of love. I don't like repetition, so I don't fall into routines and I try to make tools that save me time. Of course, I end up wasting more time creating the tools than finishing the repetitive task but at least I enjoy the experience.</p>

        <p>I have focused on learning about mobile and security.</p>

        <p>Mobile is kind of like my first technological love. The first time I created something on my own and outside of school was with my Android phone. My friends and I used to play a dice game on our phones. It had some bugs that seemed like they were never going to get fixed. I thought to myself, I could do better than that! Two weeks later we were playing my version of the game.</p>

        <p>I learned about security because of the direction our society is going. Our definition of privacy has shifted as a society and I think it's because people don't expect anything to be secret anymore. I want to change that perception and I believe studying and applying cryptography is the key to accomplishing this.</p>

        <p>I generally loathe exercise (see 'repetition' above), but I'm love playing sports. I'm up for anything but I enjoy soccer the most. I practice Capoeira and am learning how to play the piano when I have free time.</p>

      </div>

    </div>

    <div class="column third">

      <div class="title">
        <h1> Recent Blog Posts</h1>
      </div>

      <ul class="posts">
        {{ range first 10 (where site.RegularPages "Section" "posts") }}
        <li>
          <span>{{ .Date.Format "02 Jan 2006" }}</span> &raquo;
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>

    </div>

  </div>

</div>

{{ end }}
