{{ define "main" }} {{ partial "header.html" (dict "current" "blog" "context" .)
}}

<div id="post-list">
    <div class="title">
        <h1>"{{ .Title }}"</h1>
    </div>

    {{ with .Content }}
    <div class="tag-intro">{{ . }}</div>
    {{ end }}

    <ul class="posts">
        {{ range .Pages }}
        <li class="summary-post">
            <span>{{ .Date.Format "02 Jan 2006" }}</span> &raquo;
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>

{{ end }}
